<h1 mat-dialog-title>ASCI Tafel</h1>
<div mat-dialog-content style="padding: 20px;">
    <table fxFill mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> Nummer </th>
            <td mat-cell *matCellDef="let element"> {{element.number}} </td>
        </ng-container>
        <ng-container matColumnDef="letter">
            <th mat-header-cell *matHeaderCellDef> Letter </th>
            <td mat-cell *matCellDef="let element"> {{element.letter}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
<div mat-dialog-actions>
    <button fxFill mat-raised-button color="primary" (click)="close()">Sluiten</button>
</div>